<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <span onclick="getList()">点击我</span>
  <div id="div_body">
  </div>
</body>

</html>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<script>

  function getList() {
    $.ajax({
      url: '/api/getList',
      dataType: 'json',
      type: 'get',
      success: function (data) {
        let div = $("#div_body");

        for (const key in data) {
          if (data.hasOwnProperty(key)) {
            const element = data[key];
            div.append("<li>" + element + "</li>")
          }
        }
      },
    });
  }
</script>